.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-bg);
}

.main-content {
  flex: 1;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  filter: brightness(0.8) sepia(1) hue-rotate(190deg) saturate(4);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--secondary-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-text);
  border-bottom: 1px solid var(--accent-color);
}

.App-link {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.App-link:hover {
  color: var(--hover-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}