body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #4a9eff;
}

:root {
  --primary-bg: #000000;
  --secondary-bg: #b51919;
  --tertiary-bg: #ffffff;
  --primary-text: #ffffff;
  --secondary-text: #8892b0;
  --accent-color: #4a9eff;
  --hover-color: #64b5f6;
  --primary-text-color: #e3dcdc;
  --secondary-text-color: #b51919;
  --tertiary-text-color: #000000;
}